.callback {
  margin-bottom: var(--section-margin);

  &--dark {
    .callback__form {
      color: var(--color-light);
      background-image: url('/img/camera-dark.svg');
      background-color: var(--color-primary);
    }
  }

  &__form {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    border-radius: var(--border-radius-md);
    padding: 50px;
    background-image: url('/img/camera.svg');
    background-position: 100% 23px;
    background-repeat: no-repeat;
    background-color: var(--bg-form-blue);
    gap: 20px;
  }

  &__title {
    margin-bottom: 30px;
    max-width: 410px;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;

    &--mobile {
      display: none;
    }
  }

  &__description {
    margin-bottom: 30px;
    max-width: 305px;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    button[type="submit"] {
      padding: 20px 25px;
      min-width: initial;
    }
  }

  .btn-attach {
    color: var(--color-light);
    background-color: var(--bg-form-blue);

    svg {
      fill: var(--color-light);
    }
  }

  &-modal {
    max-width: var(--content-width);

    &__form {
      display: grid;
      padding: 40px 30px;
      grid-template-columns: [start] minmax(208px, 416px) minmax(208px, 416px) auto [end];
      border-radius: var(--border-radius-md);
      color: var(--color-light);
      background-color: var(--bg-form-blue);
      gap: 28px 20px;
    }

    &__form-title {
      grid-column: start / end;
      margin: 0 0 22px;
      font-size: 30px;
      line-height: 130%;
    }

    &__label-agree {
      grid-column: start / end;
    }
  }

  &-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 30px 0;

    &--dark {
      background-color: var(--color-primary);
    }
  }
}

@include medium-desktop {
  .callback {
    &-modal {
      &__form {
        grid-template-columns: [start] minmax(208px, 340px) minmax(208px, 340px) 1fr [end];
      }
    }
  }
}

@include tablet {
  .callback {
    &__label-agree {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
    }

    &__actions {
      grid-column: 1 / 3;
      grid-row: 5 / 6;

    //   flex-direction: column-reverse;
    //   align-items: flex-start;
    }

    &-modal {
      &__form {
        grid-template-columns: [start] 1fr 1fr[end];
      }

      &__label-agree {
        grid-column: 2 / 3;

        .custom-checkbox__content {
          display: flex;
          align-items: center;

          &::after, &::before {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@include small-tablet {
  .callback {
    &__title {
      order: -10;
      font-size: 24px;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }

    &__description {
      order: -5;
      font-size: 14px;
    }

    &__form {
      grid-template-columns: 1fr;
      padding: 40px;
      background-image: none !important;
      gap: 15px;

      & > .form-label:nth-of-type(1) {
        order: -2;
      }

      & > .form-label:nth-of-type(2) {
        order: -1;
      }
    }

    &__label-agree {
      margin-top: 14px;
      margin-bottom: 20px;
    }

    &__actions {
      order: 10;
      gap: 15px;
    }

    &-modal {
      &__form {
        align-items: start;
        grid-template-columns: 1fr;
      }

      &__form-title {
        grid-column: 1 / 2;
      }

      &__label-agree {
        grid-column: initial;
      }

      .btn {
        order: 4;
      }
    }
  }
}

@include small-tablet {
  .callback {
    &-cta {
      margin-top: -60px;
    }
  }
}

@include mobile {
  .callback {
    &__title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__description {
      margin-bottom: 20px;
      font-size: 12px;
    }

    &__label-agree {
      grid-column: initial;
      grid-row: initial;
    }

    &__form {
      padding: 30px;
      background-image: none;
      gap: 10px;
    }

    &__actions {
      flex-direction: column-reverse;
      align-items: start;
      grid-column: initial;
      grid-row: initial;
      gap: 10px;

      .btn {
        width: 195px;
      }

      .btn-attach {
        padding: 16px 30px;
      }
    }

    &-cta {
      margin-top: -20px;
      margin-bottom: 40px;

      // margin-bottom: 50px;
    }
  }
}

.choose+.callback {
  margin-top: -45px;
}
