.map {
  margin-bottom: var(--section-margin);

  &__title {
    max-width: 532px;
  }

  &__yam {
    margin-bottom: 5px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    color: var(--color-primary);
    gap: 10px;

    svg {
      width: 24px;
      height: 24px;
      fill: var(--color-red);
    }

    &:hover {
      color: var(--color-gray);
    }
  }
}
