.portfolio {
  margin-bottom: var(--section-margin);

  &__tabs {
    @include tabs;

    .tabs {
      &__nav {
        display: grid;
        justify-content: space-between;
        overflow: hidden;
        margin-bottom: 40px;
        border-radius: var(--border-radius-md);
        background-color: var(--color-hover);
      }

      &__nav-btn {
        padding: 15px 40px;
        width: 100%;
        height: 50px;
        min-width: 140px;
        transition: all var(--transition-delay) var(--transition-function);

        &:hover {
          background-color: var(--bg-form-file);
        }

        &--active {
          color: var(--color-light);
          background-color: var(--color-primary);
        }
      }

      &__mobile-btn {
        display: none;
        width: 100%;

        svg {
          width: 12px;
          height: 12px;
          fill: var(--color-light);
        }
      }


    }
  }

  &__description {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: auto minmax(40%, 400px);
    margin-bottom: 20px;
    border-radius: var(--border-radius-md);
    padding: 50px 54px;
    background-color: var(--color-hover);
    gap: var(--margin-md);
  }

  &__tab-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
  }

  &__tab-desc {
    margin: 0;
    font-size: 16px;
    line-height: 140%;
  }

  &__cases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    gap: 20px;

    &.show-all .portfolio__case:nth-child(n + 4) {
      display: flex;
      opacity: 1;
      visibility: visible;
    }

    &.show-all+.portfolio__btn-more {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__case {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    // clip-path: path("M380 83.6708C380 78.1535 375.017 74 369.5 74C334.982 74 307 46.0178 307 11.5C307 5.48723 302.504 0 296.491 0H10C4.47715 0 0 4.47715 0 9.99999V303C0 308.523 4.47716 313 10 313H370C375.523 313 380 308.523 380 303V83.6708Z");
    overflow: hidden;
    border-radius: var(--border-radius-md);
    padding: 40px;
    height: auto;
    min-height: 313px;
    color: var(--color-light);
    background-image: url("data:image/svg+xml,%3Csvg width='380' height='313' viewBox='0 0 380 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M380 83.6708C380 78.1535 375.017 74 369.5 74C334.982 74 307 46.0178 307 11.5C307 5.48723 302.504 0 296.491 0H10C4.47715 0 0 4.47715 0 9.99999V303C0 308.523 4.47716 313 10 313H370C375.523 313 380 308.523 380 303V83.6708Z' fill='%234F74A4'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    gap: var(--margin-sm);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 50%;
      background-color: var(--color-primary);
    }

    &:nth-child(n + 4) {
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: all var(--transition-delay) var(--transition-function);
    }

  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 40px;
    max-height: 40px;
  }

  &__name {
    max-width: 234px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }

  &__include {
    text-decoration: underline;
    text-underline-offset: 7px;
  }

  &__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
  }

  .portfolio__btn-more {
    display: flex;
    justify-content: center;
    margin: auto;
    min-width: 160px;
  }

  &__modal {
    padding: 50px 40px !important;
    max-height: 80vh;
    overflow: auto;
    p {
      margin-top: 0;
    }

    &-images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
      gap: 20px;

      img {
        border-radius: var(--border-radius-md);
        overflow: hidden;
      }
    }

    &-desc {
      overflow-y: scroll;
      margin-bottom: 40px;
      padding-right: 35px;
      max-height: 323px;
    }

    &-footer {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 20px;
    }
  }
}

@include tablet {
  .portfolio__cases {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio__case {
    background-size: cover;
  }

  .portfolio__tabs .tabs__nav-btn {
    padding: 15px 20px;
  }
}

@include small-tablet {
  .portfolio__tabs .tabs__nav {
    justify-content: start;
  }

  .portfolio__tabs .tabs__nav-item {
    flex-basis: 33%;
  }

  .portfolio__cases {
    grid-template-columns: 1fr;
  }

  .portfolio__description {
    grid-template-columns: 1fr;
    padding: 30px;
    text-align: center;
  }
}

@include mobile {
  .portfolio__case {
    padding: 30px;
    min-height: 284px;
    background-image: none;
    background-color: var(--color-primary);

    .btn {
      min-width: 195px;
    }
  }

  .portfolio__description {
    margin-bottom: 10px;
    padding: 20px;
  }

  .portfolio__icon {
    display: none;
  }

  .portfolio__name {
    font-size: 20px;
  }

  .portfolio__price {
    font-size: 22px;
  }

  .portfolio__tab-title {
    font-size: 20px;
    text-align: left;
  }

  .portfolio__tab-desc {
    font-size: 12px;
    text-align: left;
  }

  .tabs__nav-btn--active {
    display: none;
  }

  .portfolio__tabs .tabs__mobile-btn {
    &:active, &:focus {
      color: var(--color-light);
      background-color: var(--color-primary);
    }

    span {
      pointer-events: none;
    }

    svg {
      transform: rotate(90deg);
      transition: transform var(--transition-delay) var(--transition-function);
    }

    &.active{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      svg {
        transform: none;
      }
    }
  }

  .portfolio {
    .tabs {
      &__mobile-btn {
        display: block;
      }

      &__nav {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: 0;
        transition: all var(--transition-delay) var(--transition-function);
      }

      &__nav-item {
        flex-basis: 100%;
      }

      &__nav-btn {
        padding: 20px 15px;
        font-size: 14px;
        background-color: var(--bg-cards);

        &:focus, &:active {
          background-color: var(--color-hover);
        }
      }
    }

    &__cases {
      margin-bottom: 30px;
      gap: 10px;
    }
  }

}

@include mobile {
  .portfolio__modal-images {
    grid-template-columns: 1fr;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    img:not(:first-child) {
      display: none;
    }
  }

  .portfolio__modal-footer {
    flex-direction: column;
    place-items: start start;
  }

  .portfolio__modal-desc {
    font-size: 12px;
  }

  .portfolio {
    &__case {
      &:nth-child(n + 3) {
        display: none;
        opacity: 0;
        visibility: hidden;
        transition: all var(--transition-delay) var(--transition-function);
      }
    }

    &.show-all .portfolio__case:nth-child(n + 3) {
      display: flex;
      opacity: 1;
      visibility: visible;
    }

    &__tabs {
      .tabs {
        &__mobile-btn {
          font-weight: 500;
          font-size: 14px;

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
