.steps {
  margin-bottom: var(--section-margin);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('/img/svg/step-line.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    gap: 64px 230px;
  }

  &__item {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);
    padding: 20px 30px;
    max-width: 240px;
    text-align: center;
    color: var(--color-light);
    background-color: var(--color-primary);

    &[data-step='1'] {
      order: 0;
    }

    &[data-step='3'] {
      order: 1;

      .steps__item-number {
        left: auto;
        right: 0;
      }
    }

    &[data-step='5'] {
      order: 2;
    }

    &[data-step='2'] {
      order: 3;

      .steps__item-number {
        left: auto;
        right: 0;
        bottom: -38px;
      }
    }

    &[data-step='4'] {
      order: 4;

      .steps__item-number {
        left: auto;
        right: 0;
        bottom: -48px;
      }
    }
  }

  &__item-number {
    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    color: rgba($color: #3F4B6D, $alpha: 0.38);
  }

  &__item-title {
    font-weight: 500;
    font-size: 16px;
  }
}

@include big-desktop {
  .steps {
    &__wrapper {
      background-size: 80%;
      gap: 64px 140px;
    }
  }
}

@include tablet {
  .steps {
    &__title {
      margin-bottom: 30px;
      padding-right: var(--container-offset);
      width: 85%;
    }

    &__wrapper {
      flex-wrap: nowrap;
      justify-content: start;
      overflow: scroll hidden;
      padding-top: 48px;
      padding-right: 0;
      padding-bottom: 20px;
      background-image: none;
      gap: 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      padding: 20px;
      width: auto;
      max-width: initial;
      white-space: nowrap;
      color: var(--color-primary);
      background-color: var(--bg-cards);

      &[data-step='1'] {
        order: 0;
      }

      &[data-step='2'] {
        order: 2;
      }

      &[data-step='3'] {
        order: 3;
      }

      &[data-step='4'] {
        order: 4;
      }

      &[data-step='5'] {
        order: 5;
      }
    }

    &__item-number {
      inset: auto auto calc(100% + 20px) 0 !important;
    }
  }
}

@include small-tablet {
  .steps {
    &__wrapper {
      gap: 10px;
    }
  }
}

@include mobile {
  .steps {
    overflow: hidden;

    .container {
      margin: 0 -10px;
    }

    &__item {
      cursor: pointer;
    }

    &__title {
      padding: 0 10px;
    }

    &__wrapper {
      padding-left: 10px;
      gap: 5px;
    }

    &__item-title {
      font-weight: 500;
      font-size: 14px;
    }

    &__item-number {
      font-size: 20px;
    }
  }
}
