<section class="about" id="s-about">
  <div class="container">
    <h2 class="section-title about__title">Компания «Территория Пос» — надежный партнер в области видеонаблюдения</h2>
    <p class="section-subtitle about__subtitle">Предоставляем услуги по проектированию, установке и обслуживанию систем безопасности для частных лиц, коммерческих объектов и государственных учреждений</p>
    <div class="animate-touch">

      <div class="swiper about__slider">
        <div class="swiper-wrapper about__slider-wrapper">
          <div class="swiper-slide">
            <div class="about__item card" data-match-height="about-items">
              <div class="about__item-title card-title">Гарантируем высокое качество работы</div>
              <div class="about__item-description card-description">Специалисты компании имеют многолетний опыт в монтаже видеонаблюдения. Регулярно проходят обучение и сертификацию, чтобы оставаться в курсе новейших технологий и стандартов безопасности</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__item card" data-match-height="about-items">
              <div class="about__item-title card-title">Индивидуальный подход к каждому проекту</div>
              <div class="about__item-description card-description">Проектирование осуществляется с учетом особенностей конкретного помещения или территории</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__item card" data-match-height="about-items">
              <div class="about__item-title card-title">Используем только проверенное оборудования</div>
              <div class="about__item-description card-description">Компания работает с производителями: (какими?) Применяем IP-камеры высокого разрешения, системы аналитики и дистанционного управления</div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__item card" data-match-height="about-items">
              <div class="about__item-title card-title">Предлагаем обслуживание
                и поддержку</div>
              <div class="about__item-description card-description">После завершения работ компания предоставляет  гарантию до 3 лет на все установленные системы.
                Клиенты получают круглосуточную техническую поддержку и возможность оперативного устранения любых проблем</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form class="form form--dark about__form" action="/submit" method="POST">
      <h3 class="about__form-title">Не знаете сколько камер нужно? Вызовите замерщика</h3>
      <label class="form-label">
        <input type="text" name="name" id="callback-name" class="form-input input--name" placeholder="Ваше имя" required>
      </label>
      <label class="form-label">
        <input type="tel" name="phone" id="callback-phone" class="form-input input--tel" placeholder="Ваш номер телефона" required>
      </label>
      <button class="btn btn-secondary" type="submit">Вызвать замерщика</button>
      <div class="form-label">
        <label class="custom-checkbox custom-checkbox--white about__label-agree">
          <input type="checkbox" name="agree" class="custom-checkbox__field" required>
          <span class="custom-checkbox__content">Я согласен(на) на обработку персональных данных</span>
        </label>
      </div>
    </form>
  </div>
</section>
