<section class="blog" id="s-blog">
  <div class="container">
    <h2 class="section-title blog__title">Блог с полезными советами при выборе систем видеонаблюдения</h2>
  </div>
  <div class="animate-touch">
    <div class="swiper blog__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide blog__slide">
          <div class="blog__item card card--dark" data-modal="article">
            <div class="blog__image"><img src="img/placeholder.svg" alt="Название статьи"></div>
            <h3 class="blog__item-name card-title" data-match-height="blog-headeing">Как выбрать систему видеонаблюдения для частного дома?</h3>
            <div class="blog__item-text">Описание</div>
            <button data-modal="article" data-id="#" class="btn btn-secondary blog__btn">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide blog__slide">
          <div class="blog__item card card--dark" data-modal="article">
            <div class="blog__image"><img src="img/placeholder.svg" alt="Название статьи"></div>
            <h3 class="blog__item-name card-title" data-match-height="blog-headeing">ТОП-5 ошибок при установке видеонаблюдения</h3>
            <div class="blog__item-text">Описание</div>
            <button data-modal="article" data-id="#" class="btn btn-secondary blog__btn">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide blog__slide">
          <div class="blog__item card card--dark" data-modal="article">
            <div class="blog__image"><img src="img/placeholder.svg" alt="Название статьи"></div>
            <h3 class="blog__item-name card-title" data-match-height="blog-headeing">Какие камеры подходят для наружного использования</h3>
            <div class="blog__item-text">Описание</div>
            <button data-modal="article" data-id="#" class="btn btn-secondary blog__btn">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide blog__slide">
          <div class="blog__item card card--dark" data-modal="article">
            <div class="blog__image"><img src="img/placeholder.svg" alt="Название статьи"></div>
            <h3 class="blog__item-name card-title" data-match-height="blog-headeing">Какие камеры подходят для наружного использования</h3>
            <div class="blog__item-text">Описание</div>
            <button data-modal="article" data-id="#" class="btn btn-secondary blog__btn">Читать подробнее</button>
          </div>
        </div>
      </div>
      <div class="container blog__pagination" style="position: relative;">
        <div class="btn btn-icon blog__prev btn-prev" aria-label="Предыдущий слайд"></div>
        <div class="btn btn-icon blog__next btn-next" aria-label="Следующий слайд"></div>
      </div>
    </div>
  </div>
</section>
