<section class="callback callback--dark" id="s-callback">
  <div class="container">
    <form class="form form--dark callback-modal__form">
      <h3 class="callback-modal__form-title">Не знаете какой вариант подходит? Оставьте заявку на консультацию!</h3>
      <label class="form-label">
        <input type="text" name="name" id="callback-name" class="form-input input--name" placeholder="Ваше имя" required>
      </label>
      <label class="form-label">
        <input type="tel" name="phone" id="callback-phone" class="form-input input--tel" placeholder="Ваш номер телефона" required>
      </label>
      <button class="btn btn-secondary">Получить консультацию</button>
      <div class="form-label">
        <label class="custom-checkbox custom-checkbox--white callback-modal__label-agree">
          <input type="checkbox" name="agree" class="custom-checkbox__field" required>
          <span class="custom-checkbox__content">Я согласен(на) на обработку персональных данных</span>
        </label>
      </div>
    </form>
  </div>
</section>
