<section class="choose">
  <div class="container">
    <h2 class="choose__title section-title">Комплексная или индивидуальная разработка инженерных коммуникаций</h2>
    <p>Что выбрать правильно под свой объект</p>
    <div class="choose__grid">
      <div class="choose__summary">
        <div class="choose__img"><img src="/img/choose-img1.png" alt=""></div>
        <div class="choose__text">
          <h3>Инженерные системы – основа комфорта и безопасности</h3>
          <p>При строительстве и реконструкции зданий важно заранее продумать проектирование инженерных коммуникаций, ведь от этого зависит комфорт, энергоэффективность и эксплуатационная надёжность объекта.</p>
          <p>Современные здания оснащаются сложными инженерными системами, которые включают водоснабжение, отопление, электроснабжение, вентиляцию, кондиционирование, канализацию и слаботочные сети.</p>
          <p>При заказе проектирования перед клиентом стоит выбор: комплексная разработка инженерных сетей или индивидуальное проектирование отдельных систем. Рассмотрим плюсы и особенности каждого подхода</p>
        </div>
      </div>
      <div class="choose__tab">
        <select name="choose-tab" id="choose-tab" class="input--project">
          <option value="komplex">Комплексное проектирование</option>
          <option value="individ">Индивидуальное проектирование</option>
        </select>
      </div>
      <div class="choose__feature" data-tab="komplex">
        <div class="choose__description">
          <h3>Преимущества
            <span>комплексного</span> проектирования</h3>
          <p>1) <strong>Согласованность всех систем</strong> — единое техническое решение исключает конфликты между различными коммуникациями (например, пересечение вентиляционных каналов и электропроводки)</p>
          <p>2) <strong>Экономия времени и бюджета</strong> — нет необходимости обращаться в несколько компаний, все работы выполняются в рамках единого проекта.</p>
          <p>3) <strong>Энергоэффективность</strong> — инженерные системы проектируются с учетом минимизации теплопотерь, снижения расхода воды и электроэнергии.</p>
          <p>4) <strong>Лёгкость согласования</strong>  — упрощается процесс получения разрешений и прохождения экспертизы, так как проект разрабатывается комплексно.</p>
        </div>
        <div class="choose__footer">
          <button class="btn-reset choose__btn-include" data-fancybox data-src="#choose-komplex">Что входит в комплексное проектирование</button>
          <p>Актуально для новостроек, бизнес-центров, промышленных зданий, жилых комплексов и коттеджных поселков</p>
          <button class="btn btn-primary choose__btn" data-fancybox data-type="inline" data-src="callback-choose" data-ptype="komplex">Заказать комплексное проектирование</button>
        </div>
      </div>
      <div class="choose__feature" data-tab="individ">
        <div class="choose__description">
          <h3>Преимущества
            <span>индивидуального</span> проектирования</h3>
          <p>1) <strong>Гибкость и адаптация под конкретные условия</strong> — индивидуальный проект разрабатывается с учётом всех особенностей объекта: архитектурных и конструктивных нюансов здания, климатических условий региона, пожеланий заказчика.</p>
          <p>2) <strong>Экономия на строительстве и эксплуатации</strong> — благодаря точным расчётам избегается перерасход материалов, а правильно подобранное оборудование снижает энергопотребление.</p>
          <p>3) <strong>Соответствие индивидуальным потребностям</strong> — индивидуальное проектирование позволяет учитывать специфику бизнеса, разрабатывать автономные инженерные решения, создавать энерэнергоэффективные дома.</p>
          <p>4) <strong>Интеграция «умный дом»</strong> — датчики температуры и влажности управляют микроклиматом, умные счётчики контролируют расход электроэнергии и воды, автоматизация освещения и отопления снижает затраты и повышает комфорт</p>
        </div>
        <div class="choose__footer">
          <button class="btn-reset choose__btn-include" data-fancybox data-src="#choose-individ">Что входит в индивидуальное проектирование</button>
          <p>Актуально для новостроек, бизнес-центров, промышленных зданий, жилых комплексов и коттеджных поселков</p>
          <button class="btn btn-primary choose__btn" data-fancybox data-type="inline" data-src="callback-choose" data-ptype="individ">Заказать индивидуальное проектирование</button>
        </div>
      </div>
    </div>
  </div>
</section>
