<section class="consult" id="s-consult" style="background-image: url('./img/consult-bg1.png');">
  <div class="container">
    <form class="form consult__form">
      <div class="consult__title">Не нашли ответ на свой вопрос? Оставьте заявку на бесплатную консультацию</div>
      <div class="consult__description">Заполните форму, менеджер свяжется с вами в ближайшее время и поможет ответить на вопрос</div>
      <label for="" class="form-label">
        <input type="text" name="name" id="consult-name" class="form-input consult-input input--name" placeholder="Ваше имя">
      </label>
      <label for="" class="form-label">
        <input type="email" name="email" id="consult-email" class="form-input consult-input input--email" placeholder="Ваш email">
      </label>
      <label for="consult-phone" class="form-label">
        <input type="tel" name="phone" id="consult-phone" class="form-input consult-input input--tel" placeholder="Ваше номер телефона">
      </label>
      <label for="consult-question" class="form-label">
        <textarea rows="1" name="question" id="consult-question" class="form-input consult-input input--question" placeholder="Ваш вопрос"></textarea>
      </label>
      <div class="consult__actions">
        <button type="submit" class="btn btn-secondary">Получить консультацию</button>
        <label for="consult-attach" class="form-label">
          <button type="button" class="btn btn-attach"><svg>
            <use xlink:href="img/sprite.svg#attach"></use>
          </svg> Прикрепить файл</button>
          <input type="file" name="attach" id="consult-attach">
        </label>
      </div>
      <div class="form-group">
        <label class="custom-checkbox consult__label-agree">
          <input type="checkbox" name="agree" class="custom-checkbox__field" required>
          <span class="custom-checkbox__content">Я согласен(на) на обработку персональных данных</span>
        </label>
      </div>
    </form>
  </div>
</section>
