<div class="swiper-slide examples__slide">
  <article class="examples__item">
    <div class="examples__left">
      <h3 class="examples__name">Расписанный кейс + отзыв</h3>
      <div class="examples__body">
        <p>Описание</p>
      </div>
      <div class="examples__bottom">
        <a href="#" class="btn-link">Читать отзыв</a>
        <button class="btn btn-primary" data-modal="callback">Хочу такой монтаж</button>
      </div>
    </div>
    <div class="examples__right">
      <div class="swiper examples__inner-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="examples__image" style="min-height: 700px;">
              <img src="img/placeholder.svg" alt="Название">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="examples__image" style="min-height: 700px;">
              <img src="img/placeholder.svg" alt="Название">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="examples__image" style="min-height: 700px;">
              <img src="img/placeholder.svg" alt="Название">
            </div>
          </div>

        </div>
        <div class="examples__pagination swiper-pagination-inner"></div>
      </div>
    </div>
  </article>
</div>
