<section class="examples" id="s-examples">
  <div class="container">
    <div class="examples__header">
      <div class="examples__header-left">
        <h2 class="section-title examples__title">Комплексное проектирование коммуникаций</h2>
        <!-- без подзаголовка +20px отступ снизу -->
        <p class="section-subtitle examples__subtitle">Сделали проектирование 500+ систем разной сложности </p>
      </div>
      <div class="examples__header-right">
        <button class="btn btn-secondary" data-modal="calc">Рассчитать стоимость</button>
      </div>
    </div>
  </div>
  <div class="examples__wrapper animate-touch">
    <div class="swiper examples__slider">
      <div class="swiper-wrapper">
        @include('examples-slide.html')
        @include('examples-slide.html')
        @include('examples-slide.html')
      </div>
      <div class="btn btn-icon btn-prev" aria-label="Предыдущий слайд"></div>
      <div class="btn btn-icon btn-next" aria-label="Следующий слайд"></div>
    </div>
  </div>
</section>
