<section class="features" id="s-features">
  <div class="container">
    <h2 class="section-title features__title">10 лет успешно обеспечиваем
      безопасность территорий</h2>
    <p class="section-subtitle features__subtitle">Работаем с 2013 года. Устанавливаем современное оборудование с высоким качеством изображения</p>
    <div class="features__grid">
      <div class="features__item card features__item--big">
        <img src="img/placeholder.svg" alt="Преимущество">
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Работаем под ключ</div>
        <div class="features__item-description card-description">Проектируем, подбираем оборудование, устанавливаем и обслуживаем систему видеонаблюдения. Готовое решение без вашего участия</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Быстро реагируем на проблему</div>
        <div class="features__item-description card-description">Персональный менеджер, будет поддерживать от начала до конца процесса установки и отвечать на возникающие у вас вопросы</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Технически грамотная команда</div>
        <div class="features__item-description card-description">Сертифицированные инженеры работают в униформе и поддерживают чистоту на объекте, обеспечивая аккуратность и порядок при работе</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Прозрачная смета</div>
        <div class="features__item-description card-description">Все необходимые документы на руках — вы точно знаете, за что платите. Смета фиксированная, без скрытых расходов</div>
      </div>
      <div class="features__item card features__item--big">
        <img src="img/placeholder.svg" alt="Преимущество">
      </div>
    </div>
  </div>
</section>
