<section class="features" id="s-features">
  <div class="container">
    <h2 class="section-title features__title">Компания «Вариант Б» — надежный партнер в области разработки инженерных сетей</h2>
    <p class="section-subtitle features__subtitle">Более 12 лет предоставляем услуги по проектирование удобных и комфортных систем для бизнеса</p>
    <div class="features__grid">
      <div class="features__item card features__item--big">
        <img src="img/placeholder.svg" alt="Преимущество">
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Профильные специалисты</div>
        <div class="features__item-description card-description">Инженеры компании имеют профильное образование и многолетний опыт в проектировании систем. Регулярно проходят обучение и сертификацию, чтобы оставаться в курсе новейших технологий и стандартов безопасности</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Прозрачная смета</div>
        <div class="features__item-description card-description">Все необходимые документы на руках — вы точно знаете, за что платите. Смета фиксированная, без скрытых расходов</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Работаем «под ключ»</div>
        <div class="features__item-description card-description">Проектируем, чертим, подбираем оборудование, устанавливаем систему. Готовые решение без вашего участия. Следим за реализацией проекта на всех этапах.</div>
      </div>
      <div class="features__item card">
        <div class="features__item-title card-title">Гарантия соответствия нормам</div>
        <div class="features__item-description card-description">Проектируем в соответствии с СНиП, ГОСТ, СП.</div>
      </div>
      <div class="features__item card features__item--big">
        <img src="img/placeholder.svg" alt="Преимущество">
      </div>
    </div>
  </div>
</section>
