<section class="gallery" id="s-gallery">
  <div class="container">
    <div class="section-title gallery__title">Гарантия качества – наши официальные разрешения</div>
    <div class="gallery__grid">
      <div class="gallery__item" style="min-height: 452px;"><a href="/img/placeholder.svg" data-fancybox><img src="img/placeholder.svg" alt="сертификат"></a></div>
      <div class="gallery__item" style="min-height: 452px;"><a href="/img/placeholder.svg" data-fancybox><img src="img/placeholder.svg" alt="сертификат"></a></div>
      <div class="gallery__item" style="min-height: 452px;"><a href="/img/placeholder.svg" data-fancybox><img src="img/placeholder.svg" alt="сертификат"></a></div>
    </div>
  </div>
</section>
