<section class="grid">
  <div class="container">
    <div class="section-title grid__title">BIM-проектирование - современный метод проектирования зданий и сооружений</div>
    <div class="grid__inner">
      <div class="grid__item">
        <p><span>(Building Information Modeling)</span> — основан на создании цифровой модели объекта, включающей всю необходимую информацию о нем. Модель содержит не только геометрическую информацию, но и данные о материалах, конструктивных элементах, инженерных системах, сроках строительства и эксплуатации, а также другие важные характеристики</p>
      </div>
      <div class="grid__item">
        <img src="/img/placeholder.svg" alt="">
      </div>
      <div class="grid__item grid__item-card">
        <svg class="">
          <use xlink:href="img/sprite.svg#icon1"></use>
        </svg>
        <div class="grid__item-card-title">Интеграция информации</div>
        <div class="grid__item-card_description">Все участники проекта работают с единой моделью, что снижает риск ошибок и недоразумений</div>
      </div>
      <div class="grid__item grid__item-card">
        <svg class="">
          <use xlink:href="img/sprite.svg#icon2"></use>
        </svg>
        <div class="grid__item-card-title">Экономия средств</div>
        <div class="grid__item-card_description">Точности расчетов и автоматизации процессов сокращаются сроки проектирования и строительства</div>
      </div>
      <div class="grid__item grid__item-card">
        <svg class="">
          <use xlink:href="img/sprite.svg#icon3"></use>
        </svg>
        <div class="grid__item-card-title">Управление циклом объекта</div>
        <div class="grid__item-card_description">Модель можно использовать не только на этапе проектирования, но и во время строительства, эксплуатации и даже демонтажа</div>
      </div>
      <div class="grid__item grid__item-card">
        <svg class="">
          <use xlink:href="img/sprite.svg#icon4"></use>
        </svg>
        <div class="grid__item-card-title">Оптимизация процессов</div>
        <div class="grid__item-card_description">Позволяет заранее моделировать различные сценарии и выбирать наилучшие решения</div>
      </div>
    </div>
  </div>
</section>
