<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="logo header__logo" aria-label="Логотип"><img src="img/logo.svg" alt="Логотип Территорий POS"></a>
      <nav class="header__nav">
        <ul class="header__menu list-reset">
          <li class="header__menu-item"><a href="#s-portfolio">Услуги и цены</a></li>
          <li class="header__menu-item"><a href="#s-about">О компании</a></li>
          <li class="header__menu-item"><a href="#s-reviews">Отзывы</a></li>
          <li class="header__menu-item"><a href="#s-map">Контакты</a></li>
          <li class="header__menu-item"><a href="#" data-modal="calc">Рассчитать стоимость</a></li>
        </ul>
      </nav>
      <button class="btn btn-primary btn-consult" data-modal="callback">Получить консультацию</button>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <div class="header__mobile-menu-wrap" data-menu>
        <a href="/" class="logo header__logo" aria-label="Логотип"><img src="img/logo-light.svg" alt="Логотип Территорий POS"></a>
        <ul class="header__mobile-menu list-reset">
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-portfolio">Услуги и цены</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-portfolio">Портфолио</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-about">О компании</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-reviews">Отзывы</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-blog">Блог</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-qna">Частые вопросы</a></li>
          <li class="header__mobile-menu-item" data-menu-item><a href="#s-map">Контакты</a></li>
        </ul>
        <button class="btn btn-secondary btn-calc" data-modal="calc">Рассчитать стоимость</button>

        <ul class="header__contacts list-reset">
          <li class="header__contacts-item">Email: <a href="mailto:sale@posrf.ru">sale@posrf.ru</a></li>
          <li class="header__contacts-item"><a href="tel:+79991234567">+7 (999)-123-45-67</a></li>
          <li class="header__contacts-item"><a href="tel:+79034567890">+7 (903)-456-78-90</a></li>
        </ul>

        <ul class="header__socials list-reset">
          <li class="header__socials-item"><a href="#" class="btn btn-icon"><svg class="">
            <use xlink:href="img/sprite.svg#social-tg-light"></use>
          </svg></a></li>
          <li class="header__socials-item"><a href="#" class="btn btn-icon"><svg class="">
            <use xlink:href="img/sprite.svg#social-wa-light1"></use>
          </svg></a></li>
          <li class="header__socials-item"><a href="#" class="btn btn-icon"><svg class="">
            <use xlink:href="img/sprite.svg#social-vk-light"></use>
          </svg></a></li>
          <li class="header__socials-item"><a href="#" class="btn btn-icon"><svg class="">
            <use xlink:href="img/sprite.svg#social-dzen-light1"></use>
          </svg></a></li>
          <li class="header__socials-item"><a href="#" class="btn btn-icon"><svg class="">
            <use xlink:href="img/sprite.svg#social-vc-light"></use>
          </svg></a></li>
        </ul>

        <button class="btn btn-icon btn-close" data-menu><svg class="">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg></button>
      </div>
    </div>
  </div>
</header>
