<section class="hero">
  <div class="container">
    <div class="swiper hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Индивидуальный монтаж видеонаблюдения для любых объектов под ключ </h1>
            <div class="hero__slide-subtitle">Реализуем простые и сложные задачи: домофония, СКУД, кабельные системы, охранная сигнализация, ВОЛС. <strong>Скидка 10% на первый заказ!</strong></div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
              <button class="btn btn-secondary">Вызвать замерщика</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, autem.</h1>
            <div class="hero__slide-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magnam ad voluptates voluptatum! Suscipit deserunt incidunt veniam nihil reiciendis, magni magnam repellendus sit eaque distinctio officia obcaecati maxime iste.</div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
            </div>
          </div>
          </div>
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, autem.</h1>
            <div class="hero__slide-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magnam ad voluptates voluptatum! Suscipit deserunt incidunt veniam nihil reiciendis, magni magnam repellendus sit eaque distinctio officia obcaecati maxime iste.</div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
            </div>
          </div>
          </div>
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, autem.</h1>
            <div class="hero__slide-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magnam ad voluptates voluptatum! Suscipit deserunt incidunt veniam nihil reiciendis, magni magnam repellendus sit eaque distinctio officia obcaecati maxime iste.</div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
            </div>
          </div>
          </div>
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, autem.</h1>
            <div class="hero__slide-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magnam ad voluptates voluptatum! Suscipit deserunt incidunt veniam nihil reiciendis, magni magnam repellendus sit eaque distinctio officia obcaecati maxime iste.</div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
            </div>
          </div>
          </div>
        <div class="swiper-slide hero__slide" style="background-image: url('./img/slider-placeholder.svg');">
          <div class="hero__slide-wrap">
            <h1 class="hero__slide-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, autem.</h1>
            <div class="hero__slide-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium ex magnam ad voluptates voluptatum! Suscipit deserunt incidunt veniam nihil reiciendis, magni magnam repellendus sit eaque distinctio officia obcaecati maxime iste.</div>
            <div class="hero__slide-actions">
              <button class="btn btn-primary" data-modal="calc">Рассчитать стоимость</button>
            </div>
          </div>
          </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
