<section class="hero">
  <div class="container">
    <h1 class="hero__title">Проектирование инженерных систем и коммуникаций для бизнеса</h1>
    <div class="hero__subtitle">Используем передовые BIM-технологии для создания эффективных решений. Гарантируем соответствие всем нормативным требованиям </div>
    <ul class="hero__features list-reset">
      <li class="hero__features-item">
        <svg class="hero__features-icon">
          <use xlink:href="img/sprite.svg#icon-1"></use>
        </svg>
        <div class="hero__features-text">Снижаем эксплуатационные расходы</div>
      </li>
      <li class="hero__features-item">
        <svg class="hero__features-icon">
          <use xlink:href="img/sprite.svg#icon-2"></use>
        </svg>
        <div class="hero__features-text">Работаем по СНиП, ГОСТ, СП. Юридическое сопровождение</div>
      </li>
      <li class="hero__features-item">
        <svg class="hero__features-icon">
          <use xlink:href="img/sprite.svg#icon-3"></use>
        </svg>
        <div class="hero__features-text">Делаем качественные инженерные проекты в срок</div>
      </li>
      <li class="hero__features-item">
        <svg class="hero__features-icon">
          <use xlink:href="img/sprite.svg#icon-4"></use>
        </svg>
        <div class="hero__features-text">Оперативный выезд на объект</div>
      </li>
    </ul>
    <div class="hero__actions">
      <button class="btn btn-light" data-modal="consult">Получить консультацию</button>
      <button class="btn btn-secondary" data-fancybox data-src="#calc-modal">Рассчитать стоимость</button>
    </div>
  </div>
</section>
