<section class="newsletter" id="s-newsletter">
  <div class="container">
    <form class="form newsletter-modal__form">
      <h3 class="newsletter-modal__form-title">Подпишитесь на рассылку, чтобы быть в курсе актуальных новостей</h3>
      <label class="form-label">
        <input type="text" name="name" id="newsletter-name" class="form-input input--name" placeholder="Ваше имя" required>
      </label>
      <label class="form-label">
        <input type="email" name="email" id="newsletter-email" class="form-input input--email" placeholder="Ваша электронная почта" required>
      </label>
      <button class="btn btn-primary">Подписаться</button>
      <div class="form-label">
        <label class="custom-checkbox newsletter-modal__label-agree">
          <input type="checkbox" name="agree" class="custom-checkbox__field" checked>
          <span class="custom-checkbox__content">Я согласен(на) на обработку персональных данных</span>
        </label>
      </div>
    </form>
  </div>
</section>
