<section class="partners" id="s-partners">
  <div class="container">
    <h2 class="section-title">Партнёры и клиенты, которые выбрали установить безопасность с «Территория Пос»</h2>
  </div>
  <div class="swiper partners__slider-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide partners__item">
        <img src="img/partner1.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner2.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner3.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner4.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner5.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner6.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner7.png" alt="Название">
      </div>
    </div>
  </div>
  <div class="swiper partners__slider-bottom">
    <div class="swiper-wrapper">
      <div class="swiper-slide partners__item">
        <img src="img/partner8.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner9.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner10.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner11.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner12.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner13.png" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner14.png" alt="Название">
      </div>
    </div>
  </div>
</section>
