<section class="partners" id="s-partners">
  <div class="container">
    <h2 class="section-title">Партнёры и клиенты, которые выбрали установить безопасность с «Территория Пос»</h2>
  </div>
  <div class="swiper partners__slider-top">
    <div class="swiper-wrapper">
      <div class="swiper-slide partners__item">
        <img src="img/partner1.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner2.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner3.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner4.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner5.jpg" alt="Название">
      </div>
    </div>
  </div>
  <div class="swiper partners__slider-bottom">
    <div class="swiper-wrapper">
      <div class="swiper-slide partners__item">
        <img src="img/partner6.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner7.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner8.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner9.jpg" alt="Название">
      </div>
      <div class="swiper-slide partners__item">
        <img src="img/partner10.jpg" alt="Название">
      </div>
    </div>
  </div>
</section>
