<section class="portfolio" id="s-portfolio">
  <div class="container">
    <!-- без подзаголовка +20px отступ снизу -->
    <h2 class="section-title portfolio__title">500+ установленных систем видеонаблюдения для частных и юридических лиц</h2>
    <p class="section-subtitle portfolio__subtitle">Выберите подходящее направление и получите проект под ключ</p>
    <div class="tabs portfolio__tabs" data-tabs="portfolio">
      <button class="btn btn-primary tabs__mobile-btn">
        <span>Частные лица</span>
        <svg class="">
          <use xlink:href="img/sprite.svg#select-arrow"></use>
        </svg>
      </button>
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Частные лица</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Бизнес</button></li>
        <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Гос. учреждения</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="portfolio__description">
            <div class="portfolio__tab-title">Для защиты дома, квартиры или дачи</div>
            <p class="portfolio__tab-desc">Помогает предотвратить кражи, взломы и другие преступные действия. Камеры могут отпугнуть потенциальных злоумышленников и предоставить доказательства в случае инцидента</p>
          </div>
          <ul class="portfolio__cases list-reset">
            <li class="portfolio__case">
              <img src="img/portfolio-11.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Базовый комплект для дома</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-12.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплект для квартиры</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-13.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплект для дачи</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-14.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Камеры для двора, гаража, хозпостроек</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-15.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Камеры в лифтах, подъездах, на придомовой территории</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-16.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Контроль за детьми или пожилыми людьми</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-17.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Камеры для наблюдения за животными
                в отсутствие хозяев</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-18.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Камеры для контроля
                за работой персонала</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-19.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Установка автономных камер с солнечными батареями</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-110.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Аренда камер для разовых мероприятий</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
          </ul>
          <button class="btn btn-primary portfolio__btn-more">Загрузить ещё</button>
        </div>
        <div class="tabs__panel">
          <div class="portfolio__description">
            <div class="portfolio__tab-title">Для магазинов, кафе и офисов</div>
            <p class="portfolio__tab-desc">Помогает контролировать дисциплину работников, их продуктивность и соблюдение правил внутреннего распорядка</p>
          </div>
          <ul class="portfolio__cases list-reset">
            <li class="portfolio__case">
              <img src="img/portfolio-21.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплект для магазина</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-22.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплект для офиса</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-23.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для кафе и ресторанов</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-24.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для парковки</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-25.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для гостичных комплексов</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-26.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для баз отдыха</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-27.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для фитнес центров, спортивных арен</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-28.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для аквапарков</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-29.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для парков, скверов, детских площадок</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-210.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для аптек</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-211.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для дестких игровых комплексов</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-212.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для частного образования</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-213.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекты для производственных предприятий</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
          </ul>
          <button class="btn btn-primary portfolio__btn-more">Загрузить ещё</button>
        </div>
        <div class="tabs__panel">
          <div class="portfolio__description">
            <div class="portfolio__tab-title">Для школ, больниц и административных зданий</div>
            <p class="portfolio__tab-desc">Помогает следить за поведением учеников и предотвращать конфликты между ними. Помогает  для контроля работы сотрудников и соблюдения правил безопасности</p>
          </div>
          <ul class="portfolio__cases list-reset">
            <li class="portfolio__case">
              <img src="img/portfolio-31.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекс для школ</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-32.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекс для больниц</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-33.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекс для поликлиник</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-34.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекс для библиотек, музеев</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
            <li class="portfolio__case">
              <img src="img/portfolio-35.svg" alt="Иконка" class="portfolio__icon">
              <div class="portfolio__name">Комплекс для административных зданий</div>
              <div class="portfolio__include">Что входит в комплект</div>
              <div class="portfolio__price">от 50 000 руб</div>
              <button class="btn btn-secondary" data-modal="portfolio" data-kit="">Выбрать комплект</button>
            </li>
          </ul>
          <button class="btn btn-primary portfolio__btn-more">Загрузить ещё</button>
        </div>
      </div>
    </div>
  </div>
</section>
