<section class="qna" id="s-qna" itemscope="" itemtype="https://schema.org/FAQPage">
  <div class="container">
    <h2 class="section-title qna__title">Частые вопросы</h2>
    <div class="qna__grid">
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          Сколько времени занимает разработка проекта инженерных систем?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Установка стандартной системы занимает от 4 до 8 часов. Сроки зависят от сложности объекта.</p>
          </div>
        </div>
      </details>
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          От чего зависит стоимость проектирования?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Да, гарантия на оборудование — до 3 лет, на монтажные работы — 1 год.</p>
          </div>
        </div>
      </details>
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          Какие документы я получу на руки после завершения проектирования?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Мы подбираем оборудование в зависимости от ваших потребностей: для дома, офиса или крупных объектов.</p>
          </div>
        </div>
      </details>
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          Нужно ли получать какие-либо согласования в государственных органах?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Мы принимаем оплату наличными, банковскими картами и безналичным расчетом.</p>
          </div>
        </div>
      </details>
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          Можно ли внести изменения в проект после его утверждения?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Для установки камер внутри частной собственности разрешение не требуется.</p>
          </div>
        </div>
      </details>
      <details class="qna__item" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
        <summary class="qna__question" itemprop="name" data-match-height="qna-heading">
          Вы помогаете с выбором оборудования и материалов?
          <button class="btn btn-secondary qna__spoiler" aria-label="Открыть спойлер">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </summary>
        <div class="qna__answer" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div class="qna__text" itemprop="text">
            <p>Да, мы предлагаем оборудование, защищенное от пыли, влаги и экстремальных температур.</p>
          </div>
        </div>
      </details>
    </div>
    <button class="btn btn-primary btn-more qna__btn-more" data-container="qna__grid">Загрузить еще</button>
  </div>
</section>
