<section class="reviews" id="s-reviews">
  <div class="container">
    <h2 class="section-title reviews__title">Клиенты отметили подход к их задаче и оптимальные решения</h2>
  </div>
  <div class="animate-touch">
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review1.svg" class="reviews__image" alt="Отзыв от ООО «ГРАНТСТРОЙ»"> -->
              <div class="reviews__item-name">ООО «ГРАНТСТРОЙ»</div>
              <time datetime="2024-12-09" class="reviews__date">09.12.24</time>
            </div>
            <div class="reviews__item-description">
              Наша компания заказала полный комплекс проектирования: отопление, водоснабжение, электроснабжение, вентиляцию и слаботочные сети. Понравилось, что проектировщики работали в BIM-среде, всё было очень наглядно и согласовано между разделами. Сэкономили время на согласованиях, и монтаж прошёл без переделок. Рекомендуем как надёжного партнёра!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review1.svg" class="reviews__image" alt="Отзыв от ИП Селезнёва "> -->
              <div class="reviews__item-name">ИП Селезнёва </div>
              <time datetime="2024-12-08" class="reviews__date">08.12.24</time>
            </div>
            <div class="reviews__item-description">
              Мы искали решение для нестандартной планировки дома. Очень довольны тем, что команда учла всё до мелочей — от размещения оборудования до эстетики. Были реализованы тёплые полы, скрытая разводка вентиляции и система «умный дом» с управлением отоплением. Четкие чертежи, приятное общение и быстрый ответ на вопросы. Спасибо
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review2.svg" class="reviews__image" alt="Отзыв от ООО «ФУДПАРТНЁР» "> -->
              <div class="reviews__item-name">ООО «ФУДПАРТНЁР» </div>
              <time datetime="2024-12-01" class="reviews__date">01.12.24</time>
            </div>
            <div class="reviews__item-description">
              Нам требовалась быстрая разработка систем вентиляции и кондиционирования для нового заведения. Специалисты не только оперативно выполнили проект, но и предложили решение с рекуперацией тепла, что снизило затраты на обогрев. Монтажники потом сказали, что с такими проектами приятно работать — всё продумано. Отдельный плюс — грамотный подбор оборудования под наш бюджет
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ООО «СКЛАДЛОГИСТИК»  "> -->
              <div class="reviews__item-name">ООО «СКЛАДЛОГИСТИК»  </div>
              <time datetime="2024-11-10" class="reviews__date">10.11.24</time>
            </div>
            <div class="reviews__item-description">
              Объект — склад с высокими требованиями к электроснабжению и вентиляции. Проектировщики сделали точные расчёты, учли пиковые нагрузки, предложили дублирующие цепи питания и интеллектуальную систему освещения. Также была разработана система пожарной сигнализации и СКУД. Отличный подход и технически грамотная команда. Продолжаем сотрудничество на других объектах»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Гаврилов  "> -->
              <div class="reviews__item-name">ИП Гаврилов  </div>
              <time datetime="2024-10-30" class="reviews__date">30.10.24</time>
            </div>
            <div class="reviews__item-description">
              Нам нужен был проект отопления и электроснабжения с учётом размещения торговых зон и склада. Проект сделали быстро, всё понятно и логично. Особенно порадовали точные расчёты по нагрузкам — помогли не переплатить за оборудование. Магазин уже ввели в эксплуатацию — всё работает как часы
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ООО «ЗдоровьеПлюс»  "> -->
              <div class="reviews__item-name">ООО «ЗдоровьеПлюс»  </div>
              <time datetime="2024-09-15" class="reviews__date">15.09.24</time>
            </div>
            <div class="reviews__item-description">
              Мы проектировали вентиляцию с фильтрацией воздуха, водоснабжение и электрику. Коллектив учёл требования СанПиН и помог с согласованием в надзорных органах. Всё чётко и в срок. Работать было легко, потому что на каждом этапе мы получали грамотные пояснения и отчёты
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ЖК «Березовая роща»  "> -->
              <div class="reviews__item-name">ЖК «Березовая роща»  </div>
              <time datetime="2024-08-22" class="reviews__date">22.08.24</time>
            </div>
            <div class="reviews__item-description">
              Нужно было интегрировать «умный дом», кондиционирование и скрытое освещение в современном стиле. Проект получился технологичным и удобным. Управляю всем через телефон: светом, температурой, вентиляцией. Подбрали оборудование под мой бюджет, всё работает стабильно
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Трофимова  "> -->
              <div class="reviews__item-name">ИП Трофимова  </div>
              <time datetime="2024-07-28" class="reviews__date">28.07.24</time>
            </div>
            <div class="reviews__item-description">
              Особые требования к вентиляции и кондиционированию — нужно было правильно зонировать пространство. Всё сделали идеально. Установили систему, которая не шумит и быстро регулирует температуру. Грамотно подобранные мощности и красивая реализация. Спасибо!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ООО «ЭКОФЕРМА» "> -->
              <div class="reviews__item-name">ООО «ЭКОФЕРМА» </div>
              <time datetime="2024-06-21" class="reviews__date">21.06.24</time>
            </div>
            <div class="reviews__item-description">
              Объект — фермерская компания с офисом и шоу-румом. Заказали проект водоснабжения, вентиляции и отопления. Проектировщики всё рассчитали и оптимизировали для переработки сырья. Даже предусмотрели автономное водоснабжение. Очень довольны внимательным подходом
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Трофимова  "> -->
              <div class="reviews__item-name">ИП Трофимова  </div>
              <time datetime="2024-06-03" class="reviews__date">3.06.24</time>
            </div>
            <div class="reviews__item-description">
              Особые требования к вентиляции и кондиционированию — нужно было правильно зонировать пространство. Всё сделали идеально. Установили систему, которая не шумит и быстро регулирует температуру. Грамотно подобранные мощности и красивая реализация. Спасибо!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Борисова "> -->
              <div class="reviews__item-name">ИП Борисова </div>
              <time datetime="2024-05-30" class="reviews__date">30.05.24</time>
            </div>
            <div class="reviews__item-description">
              Нужно было срочно спроектировать вытяжку, кондиционирование и электропроводку для пекарни. Проект сделали за 7 дней, всё в соответствии с нормами. Монтажники сказали, что документация — одна из самых чётких, которые они видели. Рекомендую!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Виноградов "> -->
              <div class="reviews__item-name">ИП Виноградов </div>
              <time datetime="2024-04-13" class="reviews__date">13.04.24</time>
            </div>
            <div class="reviews__item-description">
              Искал проект «под ключ» — отопление, водоснабжение, канализацию, слаботочные системы. Специалисты предложили решения, которые сэкономили почти 15% бюджета. Система работает без сбоев, тёплые полы дают равномерное тепло, вода сразу идёт нужной температуры. Очень доволен.»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ООО «МобилХаб» "> -->
              <div class="reviews__item-name">ООО «МобилХаб» </div>
              <time datetime="2024-02-26" class="reviews__date">26.02.24</time>
            </div>
            <div class="reviews__item-description">
              Сложный проект: нужно было совместить вентиляцию, кондиционирование и СКС с высокой плотностью рабочих мест. Всё реализовано с учётом перегрева техники, кабельные каналы продуманы до мелочей. Монтаж прошёл по графику. Отличный подрядчик!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ИП Соловьёв "> -->
              <div class="reviews__item-name">ИП Соловьёв </div>
              <time datetime="2023-12-20" class="reviews__date">20.12.23</time>
            </div>
            <div class="reviews__item-description">
              Особые требования к вентиляции и кондиционированию — нужно было правильно зонировать пространство. Всё сделали идеально. Установили систему, которая не шумит и быстро регулирует температуру. Грамотно подобранные мощности и красивая реализация. Спасибо!»
            </div>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <!-- <img src="img/review3.svg" class="reviews__image" alt="Отзыв от ООО «Детский клуб “Умный Мир”» "> -->
              <div class="reviews__item-name">ООО «Детский клуб “Умный Мир”» </div>
              <time datetime="2023-11-14" class="reviews__date">14.11.23</time>
            </div>
            <div class="reviews__item-description">
              Важно было спроектировать инженерные системы с учётом безопасности детей. Предусмотрели усиленную вентиляцию, пониженную мощность розеток, автоматическое отключение освещения в неиспользуемых зонах. Получилось комфортно и безопасно. Спасибо
            </div>
          </div>
        </div>
      </div>
      <div class="container reviews__pagination" style="position: relative;">
        <div class="btn btn-icon reviews__prev btn-prev" aria-label="Предыдущий слайд"></div>
        <div class="btn btn-icon reviews__next btn-next" aria-label="Следующий слайд"></div>
      </div>
    </div>
  </div>
</section>
