<section class="reviews" id="s-reviews">
  <div class="container">
    <h2 class="section-title reviews__title">Клиенты отметили подход к их задаче и оптимальные решения</h2>
  </div>
  <div class="animate-touch">
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <img src="img/review1.svg" class="reviews__image" alt="Отзыв от Жужнев В.А">
              <div class="reviews__item-name">Жужнев В.А</div>
              <time datetime="2024-12-09" class="reviews__date">09.12.24</time>
            </div>
            <div class="reviews__item-description">
              Уважаемая Наталья Вадимовна! Настоящим письмом подтверждаем, что дирекция социальной сферы – структурное подразделение Северо – Кавказской железной дороги – филиал ОАО «РЖД» (далее – дирекция социальной сферы – структурное подразделение Северо – Кавказской железной дороги – филиал ОАО «РЖД» (далее – дирекция социальной сферы СП СКЖД – филиал ОАО «РЖД»). Lorem ipsum dolor sit amet.
            </div>
            <button class="btn btn-primary review__btn" data-fancybox data-src="img/review-example.png">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <img src="img/review2.svg" class="reviews__image" alt="Отзыв от Устинов В.А">
              <div class="reviews__item-name">Устинов В.А</div>
              <time datetime="2024-12-09" class="reviews__date">30.03.23</time>
            </div>
            <div class="reviews__item-description">
              Настоящим письмом уведомляем, что ООО «Территория ПОС» является официальным сервис-партнером, имеющим статус авторизованного сервисного центра, имеет все необходимые компетенции, инструменты и материалы, обученный инженерный состав для проведения ремонтов контрольно-кассовой техники АТОЛ Fprint-22ПТК на территории Российской Федерации. Lorem ipsum dolor sit amet.
            </div>
            <button class="btn btn-primary review__btn" data-fancybox data-src="img/review-example.png">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <img src="img/review3.svg" class="reviews__image" alt="Отзыв от Костогладов В.О">
              <div class="reviews__item-name">Костогладов В.О</div>
              <time datetime="2024-12-09" class="reviews__date">30.03.23</time>
            </div>
            <div class="reviews__item-description">
              Настоящим письмом подтверждаем, что Акционерное общество "АЭРОПОРТ РОЩИНО» сотрудничает с ООО «Территория ПОС» в сфере сервисных услуг по замене и регистрации в налоговом органе фискальных накопителей для контрольнокассовой техники. За период сотрудничества ООО «Территория ПОС» надлежащим. Lorem ipsum dolor sit amet.
            </div>
            <button class="btn btn-primary review__btn" data-fancybox data-src="img/review-example.png">Читать подробнее</button>
          </div>
        </div>
        <div class="swiper-slide reviews__slide">
          <div class="card reviews__item" data-match-height="reviews-items">
            <div class="reviews__item-top">
              <img src="img/review1.svg" class="reviews__image" alt="Отзыв от Жужнев В.А">
              <div class="reviews__item-name">Жужнев В.А</div>
              <time datetime="2024-12-09" class="reviews__date">09.12.24</time>
            </div>
            <div class="reviews__item-description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam possimus debitis doloribus autem tenetur impedit magnam quod maxime, similique officiis labore quasi recusandae voluptatibus ad nisi commodi illo error. Magni ipsum cupiditate iure corporis nemo est eaque obcaecati praesentium labore!
            </div>
            <button class="btn btn-primary review__btn" data-fancybox data-src="img/review-example.png">Читать подробнее</button>
          </div>
        </div>
      </div>
      <div class="container reviews__pagination" style="position: relative;">
        <div class="btn btn-icon reviews__prev btn-prev" aria-label="Предыдущий слайд"></div>
        <div class="btn btn-icon reviews__next btn-next" aria-label="Следующий слайд"></div>
      </div>
    </div>
  </div>
</section>
