<section class="services">
  <div class="container">
    <div class="services__top">
      <div class="services__top-left">
        <h2 class="services__title">Эффективные решения для любого вида услуг</h2>
        <div class="services__description">Учитываем все особенности объекта перед работой</div>
      </div>
      <button class="btn btn-secondary" data-fancybox data-src="#calc-modal">Рассчитать стоимость</button>
    </div>
    <div class="services__grid">
      <div class="services__item">
        <div class="services__img">
          <img src="img/services1.png" alt="">
        </div>
        <div class="services__text">
          <h3 class="services__item-title">Водоснабжение</h3>
          <p class="services__item-description">Комплекс мероприятий по созданию надежной инфраструктуры для подачи воды в здание. Специалисты разрабатывают проекты,  чтобы обеспечить подачу нужного количества чистой воды</p>
          <div class="services__img-tablet"><img src="img/services1.png" alt=""></div>
          <div class="services__price">от 10 000 руб</div>
          <div class="services__actions">
            <button class="btn btn-secondary">Подробнее об услуге</button>
            <button class="btn btn-light" data-modal="order" data-title="водоснабжения">Заказать услугу</button>
          </div>
        </div>
      </div>
      <div class="services__item">
        <div class="services__img">
          <img src="img/services2.png" alt="">
        </div>
        <div class="services__text">
          <h3 class="services__item-title">Водоснабжение</h3>
          <p class="services__item-description">Включает разработку решений для обеспечения комфортного микроклимата в помещениях. Специалисты разрабатывают проекты, чтобы гарантировать оптимальный воздухообмен, поддержание температуры и влажности воздуха, а также фильтрацию загрязнений</p>
          <div class="services__img-tablet"><img src="img/services2.png" alt=""></div>
          <div class="services__price">от 10 000 руб</div>
          <div class="services__actions">
            <button class="btn btn-secondary">Подробнее об услуге</button>
            <button class="btn btn-light" data-modal="order" data-title="водоснабжения">Заказать услугу</button>
          </div>
        </div>
      </div>
      <div class="services__item">
        <div class="services__img">
          <img src="img/services3.png" alt="">
        </div>
        <div class="services__text">
          <h3 class="services__item-title">Водоснабжение</h3>
          <p class="services__item-description">Создание комфортных температурных условий в здании. Специалисты выбирают тип системы, расположение радиаторов, конвекторов или других теплообменных устройств. Используют системы управления температурой и вентиляцией для оптимизации энергопотребления и комфорта для равномерного распределения тепла и экономию энергии</p>
          <div class="services__img-tablet"><img src="img/services3.png" alt=""></div>
          <div class="services__price">от 10 000 руб</div>
          <div class="services__actions">
            <button class="btn btn-secondary">Подробнее об услуге</button>
            <button class="btn btn-light" data-modal="order" data-title="водоснабжения">Заказать услугу</button>
          </div>
        </div>
      </div>
    </div>
    <div class="services__more"><button class="btn btn-secondary btn-more" data-container="services__grid">Cмотреть все услуги</button></div>
  </div>
</section>
